# /etc/systemd/system/node_manager.service

[Unit]
Description=node_manager Service
After=network.target docker.service

[Service]
ExecStart=/opt/node_manager/node_manager
WorkingDirectory=/opt/node_manager/
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
